<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Остановки Воронежа</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="/static/css/1.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="functional">
        <div class="buttons">
        </div>
        <div class="inputs">
          <div class="inputs_inner">
            <div class="h2_inp">Поиск маршрута</div>
            <div class="first_input item">
              <label for="start">Откуда:</label>
              <select id="start">
                {% for stop in stops %}
                <option value="{{ stop.id }}">{{ stop.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="second_inp item">
              <label for="end">Куда:</label>
              <select id="end">
                {% for stop in stops %}
                <option value="{{ stop.id }}">{{ stop.name }}</option>
                {% endfor %}
              </select>
            </div>
            <button id="searchBtn">Поиск</button>
          </div>
          <div class="view_routes">
            <div class="label_route">Показать маршрут</div>
            <label class="label_view" for="view_route">Маршрут:</label>
            <select id="view_route">
              {% for b in bus %}
              <option value="{{ b.id }}">{{ b.name }}</option>
              {% endfor %}
            </select>
            <button id="view_route_Btn" class="btn_view_route">Показать</button>
          </div>
        </div>
      </div>
      <div class="json-output">
        <div class="json_response"> JSON ответ</div>
        <pre id="jsonData"></pre>
      </div>
    </div>
    <div id="map"></div>
  </div>
  <script src="/static/js/leaflet.js"></script>
  <script src="/static/js/leaflet.polylineDecorator.js"></script>

    <script>
      window.STOPS = {{ stops | tojson }};
      window.BUS = {{ bus | tojson }};
    </script>
  <script src="/static/js/1.js"></script>

</body>

</html>